@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}

#corpoPrincipal{
   background-color: rgb(144, 240, 240);
   overflow: auto;   
   border-radius: 10px 10px 0px 0px;
   box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.336);
   padding: 5px;
   margin: auto;
   margin-top: 50px;
   height: 30vw;
   width: 30vw;
}

#title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    margin: -5px;
}

.textoRobo{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.textoUser{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
}

.fotoRobo{ 
    background-color: gray;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.balaoFala{
    background-color: antiquewhite;
    border-radius: 10px 10px 0px 0px;
    text-align: justify;
    padding: 5px;
    width: 80%;
    margin-left: 2%;
}

.hora{
    color: gray;
    font-size: 12px;
    background-color: antiquewhite;
    border-radius: 0px 0px 10px 10px; 
    text-align: end;
    padding: 5px;
    width: 80%;
    margin-left: 11.7%;
}

#caixaUser{
    background-color:  rgb(144, 240, 240);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.336);
    padding: 5px;
    margin: auto;
    height: 50px;
    width: 30vw;
}

#user{
    margin: auto;
    border: none;
    padding: 2px;
    border-radius: 10px;
    width: 98%;
    height: 80%;
}

