@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}

#corpoPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   background-color: rgb(144, 240, 240);
   border-radius: 10px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.336);
   padding: 5px;
   margin: auto;
   margin-top: 50px;
   height: 50vw;
   width: 30vw;
}

#title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    margin: -5px;
}

#botaoIniciar{

    align-self: center;
    border: none;
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;

}

#textoRobo{
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;   
}

#fotoRobo{ 
    background-color: gray;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#balaoFala{
    background-color: antiquewhite;
    border-radius: 10px;
    text-align: justify;
    padding: 5px;
    width: 80%;
}